.row
  .col.s12.m7
    .card
      .card-content
        = message.content
      .card-image
        = image_tag message.image.url if message.image.present?
        -# %span.card-title Card Title
      .card-action
