.col.s12.m7
  %h2.header Horizontal Card
  .card.horizontal
    .card-image
      %img{:src => "https://lorempixel.com/100/190/nature/6"}/
    .card-stacked
      .card-content
        %p I am a very simple card. I am good at containing small bits of information.
      .card-action
        %a{:href => "#"} This is a link
