%nav.black
  .nav-wrapper
    %a.brand-logo{:href => "#"} Blog
    %ul#nav-mobile.right.hide-on-med-and-down
      - if user_signed_in?
        %li
          = link_to "log out", destroy_user_session_path, method: :delete
      - else
        %li
          = link_to "sign up", new_user_registration_path, method: :get
        %li
          = link_to "sign in", new_user_session_path, method: :post
      %li
        %a{:href => "badges.html"} Components
      %li
        %a{:href => "collapsible.html"} JavaScript

%h1  Ajax#index
%p.hoge 赤色になるよ
