// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wrapper{
  .row{
    width: 100%;
    .col.s12.m7{
      display: inline-block;
      margin: auto;
      width: 100%;
      padding: 30px;
      .card{
        .card-content{
          padding: 0;
          textarea{
            height: 10rem;
            border-width: 0;
          }
        }
        .card-image{
          margin: auto;
          width: 100px;
        }
        .reactions{
          ul{
            form{
              display: flex;
              select{
                display: inline;
              }
              input{
                display: inline;
              }
            }
          }
        }
        .card-action{
          display: flex;
          .waves-effect.waves-light.btn{
            color: white;
            background-color: black;
            width: 100px;
            margin: 10px;
          }
          .waves-button-input{
              color: white;
          }
        }
        .reactions{
          display: flex;
          border-top: 1px solid;
          border-top-color:rgba(160,160,160,0.2);
          margin: 0;
          ul{
            display: list-item;
            margin: 10px 0;
            li.style{
              display: inline;
              margin-left: 10px;
              i{
                font-size: 16px;
              }
            }
            li.number{
              display: inline;
              margin: 0;
            }
          }
        }
      }
    }
  }
  .pagination{
    background-color: black;
  }
}
