.wrapper{
  margin: 40px;
  border-style: double;
  .waves-effect.waves-light.btn-large{
    color: white;
    background-color: black;
    font-size: 20px;
    margin: 0 20px;
  }
  .row{
    margin: 0 20px;
    input{
    color: black;
    }
    .row{
      margin: 0px;
    }
    .waves-effect.waves-light.btn{
      color: white;
      background-color: black;
      width: 200px;
      margin: 10px;
    }
      .waves-button-input{
        color: white;
      }
    .link{
      margin: 20px;
    }
    .input-field-inline{
      position: relative;
    }
  }
  .waves-effect.waves-light.btn{
    color: white;
    background-color: black;
    width: 200px;
    margin: 10px;
  }
    .waves-button-input{
      color: white;
    }
  .link{
    margin: 20px;
  }
}
